$spacer-1:2px;
$spacer-2:4px;
$spacer-3:6px;
$spacer-4:8px;
$spacer-5:10px;
$spacer-6:20px;
$spacer-7:30px;
$spacer-8:40px;
$spacer-9:50px;
$spacer-10:60px;
$spacer-11:70px;
$spacer-12:80px;