* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  
  }
  
  .content-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

 